.home-container {
  width: 100%;
  display: flex;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
}

.map-container {
  height: 1000px;
  width: 1500px;
}

.searchbar {
  background-color: rgba(78, 62, 62, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
